<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>967429108464-q8ilbc2pgc1jbeqed02375i778fec28i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967429108464-q8ilbc2pgc1jbeqed02375i778fec28i</string>
	<key>API_KEY</key>
	<string>AIzaSyB03aVLr8PkNyAij68RXHh-n3aqfOTtF-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>967429108464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MVN271192.PSC</string>
	<key>PROJECT_ID</key>
	<string>kpsc-a58bc</string>
	<key>STORAGE_BUCKET</key>
	<string>kpsc-a58bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967429108464:ios:fe515c0341511b95</string>
	<key>DATABASE_URL</key>
	<string>https://kpsc-a58bc.firebaseio.com</string>
</dict>
</plist>